// **************************************
// CARD STYLES
// **************************************
@use "../utilities" as *;
.card {
  margin: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: px-to-rems(10px);
  background-color: $white;
  border-radius: $soft-curve;
  max-width: max(450px, 475px);
  @include mq("md") {
    padding: px-to-rems(10px) px-to-rems(25px);
  }
}
