// **************************************
// GRID STYLES
// **************************************
@use "../utilities" as *;

/*------GRID LAYOUT STYLES-----------*/
.grid__container {
  @extend %ctr-grid-content;
}

.grid__layout--container {
  display: grid;
  place-items: center;
  width: 100%;
  grid-template-columns: auto;
  gap: px-to-rems(10px);
  grid-template-areas:
    "heading"
    "weekend"
    "midweek";
  @include mq("lg") {
    place-items: flex-start;
  }
}

.heading {
  grid-area: heading;
}

.weekend {
  grid-area: weekend;
}

.midweek {
  grid-area: midweek;
}
